.mainWrapper{
    min-width: 14rem;
    position: relative;
}
.dropDownTextWrapper{
    border: 1px solid grey;
    padding: 0.4rem;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.openDropDown{
    border: 1px solid grey;
    border-radius: 0 0 7px 7px;
    opacity: 0;
    z-index: -45;
    max-height: 13rem;
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
}
.openDropdownTextWrapper{
    border-bottom: unset;
}
.openDropdownOptionsWrapper{
    opacity: 1;
    transition: opacity 0.3s ease-in;
    z-index: 8;
}
.openDropDown>p{
    cursor: pointer;
    padding: 0.3rem;
    font-size: 0.9rem;
}
.openDropDown>p:hover{
    background-color: rgb(243, 243, 243);
}
.placeholder{
    color: rgb(186, 186, 186);
}